        <% date = new Date(); %>
        <% year = date.getFullYear(); %>
        
        </div>
            <div class="footer-padding"></div>
                <div class="footer">
                    <p>Copyright ⓒ <%= year %></p>
                </div>
            </div>
    </body>
</html>