<%- include("partials/header"); -%>

  <h1>Compose</h1>
  <form action="/compose" method="post">
    <div class="mb-3">
      <label for="input1" class="form-label"><b>Title</b></label>
      <input type="text" class="form-control" id="input1" name="postTitle">
    </div>
    <div class="mb-3">
      <label for="input2" class="form-label"><b>Make</b></label>
      <input type="text" class="form-control" id="input2" name="make">
    </div>
    <div class="mb-3">
      <label for="input3" class="form-label"><b>Model</b></label>
      <input type="text" class="form-control" id="input3" name="model">
    </div>
    <div class="mb-3">
      <label for="input9" class="form-label"><b>Year</b></label>
      <input type="text" class="form-control" id="input9" name="year">
    </div>
    <div class="mb-3">
      <label for="input4" class="form-label"><b>Trim</b></label>
      <input type="text" class="form-control" id="input4" name="trim">
    </div>
    <div class="mb-3">
      <label for="input5" class="form-label"><b>Thumbnail Id</b></label>
      <input type="text" class="form-control" id="input5" name="thumbnailId">
    </div>
    <div class="mb-3">
      <label for="input6" class="form-label"><b>Grid Id</b></label>
      <input type="text" class="form-control" id="input5" name="gridId">
    </div>
    <div class="mb-3">
      <label for="input6" class="form-label"><b>Post</b></label>
      <textarea class="form-control" id="input6" rows="5" cols="60" name="postText"></textarea>
    </div>
    <div class="mb-3">
      <label for="input7" class="form-label"><b>Rating 1</b></label>
      <input type="text" class="form-control" id="input7" name="rating1">
    </div>
    <div class="mb-3">
      <label for="input10" class="form-label"><b>Rating 2</b></label>
      <input type="text" class="form-control" id="input10" name="rating2">
    </div>
    <div class="mb-3">
      <label for="input11" class="form-label"><b>Rating 3</b></label>
      <input type="text" class="form-control" id="input11" name="rating3">
    </div>
    <div class="mb-3">
      <label for="input12" class="form-label"><b>Rating 4</b></label>
      <input type="text" class="form-control" id="input12" name="rating4">
    </div>
    <div class="mb-3">
      <label for="input13" class="form-label"><b>Rating 5</b></label>
      <input type="text" class="form-control" id="input13" name="rating5">
    </div>
    
    <div class="mb-3">
      <label for="input8" class="form-label"><b>Overall Rating</b></label>
      <input type="text" class="form-control" id="input8" name="overallRating">
    </div>
    <button class="btn btn-primary compBtn" type="submit" name="button">Publish</button>
  </form>

<%- include("partials/footer"); -%>


<!-- title: String,
  content: String,
  make: String,
  model: String,
  trim: String,
  thumbnailId: String,
  carouselId: String -->