<%- include("partials/header"); -%>

<div class="text-center sign-in">
<main class="form-signin">
    <form>
      <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Subcribe to get email updates on new reviews!</h1>
  
      <div class="form-floating">
        <input type="text" class="form-control" id="nameInput" placeholder="Name">
        <label for="nameInput">Name</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary sub-btn" type="submit">Subscribe</button>
    </form>
  </main>
</div>

<%- include("partials/footer"); -%>