<%- include("partials/header"); -%>

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">You've been successfully subscribed!</h1>
      <p class="col-md-8 fs-4">Get ready for lots of awesome content 😀</p>
    </div>
  </div>

<%- include("partials/footer"); -%>