


<div class="img-grid">
    <div class="img-container">
        <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
        <img id="expandedImg" style="width:65%">
    </div>


    <div class="img-row">
        <div class="img-column">
        <img src="/images/1995Mazda/miata10.jpg" alt="miata picture" id="miata10" onload="getImage(this);" onclick="getImage(this);">
        </div>
        <div class="img-column">
        <img src="/images/1995Mazda/miata9.jpg" alt="miata picture" id="miata9" onclick="getImage(this);">
        </div>
        <div class="img-column">
        <img src="/images/1995Mazda/miata8.jpg" alt="miata picture" id="miata8" onclick="getImage(this);">
        </div>
        <div class="img-column">
        <img src="/images/1995Mazda/miata1.jpg" alt="miata picture" id="miata1" onclick="getImage(this);">
        </div>
    </div>
  
</div>

  <script>
    function getImage(imgs) {  
        // Get the expanded image 
        var expandImg = document.getElementById("expandedImg"); 
        // Use the same src in the expanded image as the image being clicked on from the grid 
        expandImg.src = imgs.src; 
        expandImg.parentElement.style.display = "block"; 
    } 
   
</script>